a img {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    margin-bottom: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    background-color: #eff0fa23;
    border-radius: 12px 12px 0px 0px;
    backdrop-filter: blur(12px);
    transition: background-color 0.5s ease;
}

header:hover {
    background-color: #eff0faad;
}

header h1, header nav {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
}



h1 a {
    display: flex;
    align-items: center;
    margin-left: 5%;
    text-decoration: none;
    color: black;
    font-size: 100%;
    font-family: 'Cinzel', serif;
}

h1 a img {
    margin-left: 5%;
    padding: 0%;
    padding-right: 2%;
    width: 15%;
    margin: 0%;
}

div {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    font-family: 'Cinzel', serif;
    font-size: 100%;
    font-weight: bold;
    color: black;
    flex: 1;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease, font-size 0.3s ease, background-color 0.3s ease;
    border-radius: 40px;
}

nav a:hover {
    font-size: 160%;
    color: rgb(255, 187, 0);
    font-weight: bolder;
    background-color: rgb(0, 27, 68);
    box-shadow: 3px 3px 10px rgba(72, 145, 255, 0.849);
}

nav a:hover:after {
    transform: scaleX(1);
}

img {
    width: 30%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
}