footer {
    margin: 0%;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #eff0fa00;
    margin-bottom: 0%;
    background-color: #eff0fa23;
    backdrop-filter: blur(12px);
    transition: background-color 0.5s ease;


}

footer:hover {
    background-color: #eff0faad;

}

footer p {
    text-align: center;
    font-size: 100%;
    font-family: 'Montserrat', 'Poppins', 'Avenir', sans-serif;
    color: rgb(107, 107, 107);
}