<div class="excluir-container">
    <form (ngSubmit)="excluirCliente()">
      <div class="titulo">
        <h2>S̴e̴  a̷l͟g͜u̶m͢a  c͢o͞i͟s̴a  b̶u̵g̷o̴u̴,  é  m̴e̶l͟h̶o̷r  d̴e̵l̸e̴t̵a̶r</h2>
        <img src="https://64.media.tumblr.com/337c448dad492eb8eebd8d5612eacaa2/tumblr_mm9hu4FEC01s3cun3o1_500.gif" alt="Kid">

      </div>
      <label for="input-id">Informe o ID para excluir:</label>
      <input
        type="text"
        id="input-id-cliente"
        name="input-id-cliente"
        [(ngModel)]="idExcluir"
        class="input-id"
        required
      />
      <button type="submit" class="btn-excluir">Excluir</button>
    </form>
  
    <div *ngIf="mensagemSucesso" class="sucesso-mensagem">
      {{ mensagemSucesso }}
    </div>
  
    <div *ngIf="erroMensagem" class="erro-mensagem">
      {{ erroMensagem }}
    </div>
  </div>

  <div class="excluir-container">
    <form (ngSubmit)="excluirAtracao()">
      <label for="input-id">Informe o ID para excluir a atração:</label>
      <input
        type="text"
        id="input-id-atracao"
        name="input-id-atracao"
        [(ngModel)]="idExcluir"
        class="input-id"
        required
      />
      <button type="submit" class="btn-excluir">Excluir</button>
    </form>
  
    <div *ngIf="mensagemSucesso" class="sucesso-mensagem">
      {{ mensagemSucesso }}
    </div>
  
    <div *ngIf="erroMensagem" class="erro-mensagem">
      {{ erroMensagem }}
    </div>
  </div>
  