main {
    width: 100%;
    margin: 0% auto;
    background-color: #eff0fa23;
    backdrop-filter: blur(5px);
    transition: background-color 0.5s ease;

}

main:hover {
    background-color: #eff0faad;
    backdrop-filter: blur(12px);

}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    font-family: 'Cinzel', serif;
    font-size: 14px;
    font-weight: bold;
    color: #F7FDFF;
    flex: 1;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

img {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#perfil {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_image img {
    width: 40%;
    transition: transform 1.5s ease;
    transform: scale(1);
}

#main_image img:hover {
    transform: scale(1.1);

}

#boas_vindas {
    margin-left: 7%;
    margin-right: 7%;
    font-family: 'Cinzel', serif;
    text-align: center;
}

#boas_vindas h1 { 
    margin-bottom: 5%;
    margin-top: 0%;
    font-size: 350%;
    color: rgb(0, 36, 90);
}

#boas_vindas h2 {
    margin: 5%;
    color: black;
    font-size: 200%;
}

#boas_vindas p {
    color: black;
    font-size: 130%;
}

.main_creators_images {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main_creators_images a {
    display: inline-block;
    text-decoration: none;
}

.main_creators_images a img {
    width: 30%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding: 0%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.main_creators_images a img:hover {
    transform: scale(1.1);
    box-shadow: 12px rgb(255, 187, 0);
    

}

.main_creators_images a p {
    font-size: 100% !important;
    font-weight: bold;
    color: black !important;
    transition: color 0.3s ease, font-size 0.3s ease, background-color 0.3s ease;
    border-radius: 40px;

}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.botoes button {
    font-size: 100%;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    background-color: #eff0fa;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1%;
    border: 0.1px solid #eff0fab0;
    box-shadow: 0px 2px 16px #eff0fa;
    transition: color 0.3s ease, font-size 0.3s ease, background-color 0.3s ease;
    border-radius: 40px;
}

.botoes button:hover {
    font-size: 160%;
    background-color: rgb(0, 27, 68);
}

.botoes button a {
    font-size: 100%;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.botoes button a:hover {
    color: rgb(255, 187, 0);
}