/* Estilo geral do formulário */
form {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background: #eff0fa23;
  border-radius: 30px;
  border: 0.1px solid #eff0fab0;
  box-shadow: 0px 2px 16px #eff0fa;
  backdrop-filter: blur(12px);
  transition: background-color 0.5s ease;
}

form:hover {
  background-color: #eff0faad;
}

/* Estilo dos rótulos */
form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 110%;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  color: black;
}

/* Estilo dos inputs */
input {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  color: rgb(0, 43, 107);
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

/* Efeito ao focar no input */
input:focus {
  border-color: rgb(255, 187, 0);
  outline: none;
}

/* Estilo do botão de submit */
button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: rgb(0, 27, 68);
  color: rgb(255, 187, 0);
  font-size: 120%;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Efeito ao passar o mouse sobre o botão */
button:hover {
  background-color: rgb(255, 187, 0);
  color: rgb(0, 27, 68);
}